body {
    padding-top: 8px;
    padding-bottom: 8px;
}

.message {
    color: orangered;
    padding: 10px 0;
}
.green-block {
    color: darkgreen;
}

tr:hover {
    background: antiquewhite;
}

td {
    border-top: 1px solid #ccc;
}